*{
  list-style: none;
  margin: 0;
  padding: 0;
}
.gesture_wrapper {
  margin-top: 5px;
}

.gesturepwd_modal {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.thumbnail {
  margin-top: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.again,
.disagree,
.limit {
  margin-top: 20px;
}

ul {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}

li {
  width: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  height: 20px;
  border: 1px solid #E4E4E4;
}

.clear_again {
  margin-top: 80px;
  color: #009943;
  display: flex;
  justify-content: center;
}